<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/errorstyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
      <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <title>Quorum - Error Page</title>
  </head>
  <body class="bg">
      <div class="error">
        <div class="brand">
          <h1 class="heading"> Quorum</h1>
        </div>
        <div class="info">
          <h1>404 Not Found</h1>
        </div>
          <div class="content">
            The requested URL /invalidURL was not found in the server
          </div>
          <div>
            <a href="/"><button class="btn btn-lg btn-primary">Take Me Home!</button></a>
          </div>
    </div>

  </body>

</html>
